body {
	background-color: #f5f5dc ;
}


h1 {
	text-align: center ;
	font-family: 'Great Vibes', cursive ;
	font-size : 50px ;
	}
	
.lesbagues {
left : 0;
}

.Bagues {
	display: inline-block; 
    margin:  10px; 
    text-align: center ;
}

.Bagues img {
	width: 150px; 
    height: 150px ;
    border: 1px solid black; 
    border-radius: 5px; 
}

.Bagues p {
	font-weight: bold;
    margin: 5px 0; 
}
